.emaus {
  width: 100%;
  min-height: 100vh;
  background-color: var(--page-primary);
  background-image: var(--page-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: var(--color-font);
}