:root {
  --color-primary: rgba(7, 44, 95, 0.541);
  --color-secondary: rgba(25, 81, 145, 0.151);
  --color-font: rgba(253, 253, 253, 1);

  --font-family: "Inter", sans-serif;

  --transition-fast: 0.2s ease;
  --transition-normal: 0.4s ease;
}